@charset "utf-8";
@import  "reset.scss";

*{margin: 0px; padding: 0px; box-sizing: border-box;}
ul,ol,li{
  list-style: none;
}
a{
  text-decoration: none;
}
.hidden{
  position: absolute; top: -9999999999px; opacity: 0;
}

/* 
부모 태그에 적용하는 속성 

display
flex-direction
frex-wrap
flex-flow =(flex-direction, flex-wrap)
justyfy-content
align-items
aline-content

자식요소에 적용하는 속성
order
flex-grow
flex-shrink
flex(basics)
align-self
display-
flex
: 자신은  블록 속성을 유지하고 자식 요소에 flex환경을 설정 한다 
inline-flex
:자신은 인라인 속성을 유지하고 자식 요소에 flex환경을 설정 한다 

flex-direction
-자식 요소의 정렬 방향을 변경
row - 기본축이 가로로 정렬(기본값) 왼족에서 오른쪽
column - 기본축이 세로로 정렬위에서 아래로 
row-reverse -가로로 정렬하는데 오른쪽에서 왼쪽 

*/